<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Registro de usuarios</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div id="pay-invoice">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3 class="text-center">Registrarme!</h3>
                                </div>
                                <hr>
                                <form [formGroup]="form" action="#" method="post" novalidate="novalidate">
                                    <div class="row form-group">
                                        <div class="col-6">
                                            <label for="nombre" class="control-label mb-1">Nombre</label>
                                            <input type="text" placeholder="Ingrese su nombre" class="form-control"
                                                formControlName="nombre">
                                        </div>
                                        <div class="col-6">
                                            <label for="apellido" class="control-label mb-1">Apellido</label>
                                            <input type="text" placeholder="Ingrese su apellido" class="form-control"
                                                formControlName="apellido">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="numUniversidad" class="control-label mb-1">Número Identificaciòn
                                            Universidad</label>
                                        <input type="text" placeholder="# Identificaciòn" class="form-control"
                                            formControlName="idUniversidad">
                                    </div>
                                    <div class="form-group">
                                        <label for="usuario" class="control-label mb-1">Usuario</label>
                                        <input type="text" placeholder="Usuario" class="form-control"
                                            formControlName="nombreUsuario">
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="control-label mb-1">Contraseña</label>
                                        <input type="password" placeholder="Contraseña" class="form-control"
                                            formControlName="contrasenia">
                                    </div>
                                    <div>
                                        <button id="payment-button" type="submit" (click)="guardarUsuario()"
                                            class="btn btn-lg btn-success btn-block">
                                            <span id="payment-button-amount">Registrarme</span>
                                        </button>
                                    </div>
                                </form>
                                <p></p>
                                <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">
                                    {{ successMessage }}
                                </ngb-alert>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>