<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Ecuaciones de recurrencia</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Ecuaciones de primer orden</strong>
                    </div>
                    <div class="card-body">
                        <div class="vue-lists">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Para empezar estudiemos el caso
                                        particular de la ecuaciones de primer
                                        orden, así que considere la
                                        sucesión an = 3an−1 con a0 = 5.
                                        Observemos si calculamos los primeros 6
                                        elementos de la sucesión:

                                    </p>
                                    <ul>
                                        <li>
                                            a0 = 5
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            a1 = 3 ⋅ a0 = 3(5)
                                        </li>
                                    </ul>

                                    <ul>
                                        <li>
                                            a2 = 3 ⋅ a1 = 3(3 ⋅ 5) = 3
                                            2(5)
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            a3 = 3 ⋅ a2 = 3(3
                                            25) = 3
                                            3(5)
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            a4 = 3 ⋅ a3 = 3
                                            4(5)
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            a5 = 3 ⋅ a4 = 3
                                            5(5)
                                        </li>
                                    </ul>
                                    <p>
                                        De esto podemos deducir que el valor de
                                        a20 = 5(3
                                        20) y en general que an = 5(3
                                        n), esta es la fórmula
                                        cerrada de la ecuación de recurrencia
                                        an = 3an−1 con a0 = 5.
                                    </p>
                                    <p>

                                        En general cuando se tiene una ecuación
                                        de recurrencia de primer orden ésta
                                        tiene la forma an = dan−1
                                        y d una constante, y una condición
                                        inicial a0 = A, la formúla cerrada para
                                        este tipo de ecuaciones es
                                        sencillamente an = A ⋅ d
                                        n. Cabe resaltar que no todas las
                                        ecuaciones de recurrencia de primer
                                        orden son de
                                        esa manera.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
