<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Tablas equivalencia</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Tablas equivalencia I</strong>
                    </div>
                    <div class="card-body">
                        <div class="vue-lists">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        La Logica proposicional es una rama del álgebra que maneja solamente valores
                                        verdaderos
                                        y
                                        falsos.
                                        Normalmente se denotan como V o 1 para verdadero y F o 0 para falso . Usando
                                        este
                                        simple
                                        sistema
                                        podemos simplificar sentencias complejas en sentencias lógicas mucho más
                                        manejable.
                                    </p>
                                    <h3>Operadores logicos básicos</h3>
                                    <ul>
                                        <li>
                                            Negación: El operador de negación se representa comúnmente con la
                                            virgulilla
                                            (~)
                                            o
                                            con
                                            el
                                            símbolo ¬ .
                                            Este operador lógico niega o cambia el valor de verdad de una
                                            proposición o
                                            sentencia.
                                        </li>
                                    </ul>
                                    <p>
                                        Podemos mostrar como opera utilizando una tabla de verdad. La tabla de verdad es
                                        una forma de organizar la información para enumerar todos los escenarios lógicos
                                        posibles.

                                        Nombramos la primera columna con el nombre de la proposición p. En la segunda
                                        columna aplicamos el operador de negación a p, o lo ques es lo mismo, ~ p.
                                        Entonces, como pueden ver si nuestra proposición posee un valor verdadero y la
                                        negamos, obtenemos el valor falso, y viceversa.
                                    </p>
                                    <div class="col-md-6">
                                        <table id="bootstrap-data-table"
                                            class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>P</th>
                                                    <th>(~P)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> F </td>
                                                    <td> V </td>
                                                </tr>
                                                <tr>
                                                    <td> V </td>
                                                    <td> F </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ul>
                                        <li>
                                            Conjuncion lógica: El operador de conjunción, también conocido como el
                                            operador AND y representado comúnmente con el símbolo ∧, es un operador
                                            binario que requiere que las dos proposiciones sobre las que actúa sean
                                            verdaderas para producir un valor verdadero. Todos los demás casos dan como
                                            resultado un valor falso.
                                        </li>
                                    </ul>
                                    <div class="col-md-6">
                                        <table id="bootstrap-data-table"
                                            class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>P</th>
                                                    <th>q</th>
                                                    <th>(p∧q)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> F </td>
                                                    <td> F </td>
                                                    <td> F </td>
                                                </tr>
                                                <tr>
                                                    <td> F </td>
                                                    <td> V </td>
                                                    <td> F </td>
                                                </tr>
                                                <tr>
                                                    <td> V </td>
                                                    <td> F </td>
                                                    <td> F </td>
                                                </tr>
                                                <tr>
                                                    <td> V </td>
                                                    <td> V </td>
                                                    <td> V </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ul>
                                        <li>
                                            Disyuncion lógica: El operador de disyunción también conocido como el
                                            operador OR y representado con el símbolo ∨ arroja un valor verdadero si
                                            al menos una de las proposiciones sobre las que opera posee un valor
                                            verdadero.
                                        </li>
                                    </ul>
                                    <div class="col-md-6">
                                        <table id="bootstrap-data-table"
                                            class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>P</th>
                                                    <th>q</th>
                                                    <th>(p∨q)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> F </td>
                                                    <td> F </td>
                                                    <td> F </td>
                                                </tr>
                                                <tr>
                                                    <td> F </td>
                                                    <td> V </td>
                                                    <td> V </td>
                                                </tr>
                                                <tr>
                                                    <td> V </td>
                                                    <td> F </td>
                                                    <td> V </td>
                                                </tr>
                                                <tr>
                                                    <td> V </td>
                                                    <td> V </td>
                                                    <td> V </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>