<header id="header" class="header">
    <div class="top-left">
        <div class="navbar-header">
            <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
        </div>
    </div>
    <div class="top-right">
        <div class="header-menu">
            <div class="header-left">
                <div class="dropdown" *ngIf="mostrar">
                    <button class="btn btn-success" type="button" (click)="openLogIn()">
                        Iniciar Sesiòn
                    </button>
                </div>

                <div class="user-area dropdown float-right" *ngIf="!mostrar">
                    <a class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user">
                        </i>

                        {{ sesion.nombre }} {{ sesion.apellido }}
                    </a>
                    <div class="user-menu dropdown-menu">
                        <button class="btn btn-secundary" type="button">
                            <a routerLink="/Inicio" class="nav-link" (click)="cerrarSesion()"><i class="fa fa-power-off"></i>Cerrar
                                Sesiòn</a>
                        </button>
                        <!-- <a class="nav-link"><i class="fa fa-user"></i>Mi perfil</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>