<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Tablas equivalencia</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Tablas equivalencia II</strong>
                    </div>
                    <div class="card-body">
                        <div class="vue-lists">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <li>
                                            Implicación lógica: También conocido como operador condicional y
                                            representado con el símbolo
                                            → ,
                                            arroja un valor verdadero en todos los casos excepto en el caso T → F. Dado
                                            que esto puede
                                            ser un
                                            poco difícil de recordar, puede ser útil notar que esto es lógicamente
                                            equivalente a ~p ∨ q
                                            como se
                                            muestra en las siguientes tablas.
                                        </li>
                                    </ul>
                                    <div class="col-md-6">
                                        <table id="bootstrap-data-table"
                                            class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>P</th>
                                                    <th>q</th>
                                                    <th>(p→q)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> F </td>
                                                    <td> F </td>
                                                    <td> V </td>
                                                </tr>
                                                <tr>
                                                    <td> F </td>
                                                    <td> V </td>
                                                    <td> V </td>
                                                </tr>
                                                <tr>
                                                    <td> V </td>
                                                    <td> F </td>
                                                    <td> F </td>
                                                </tr>
                                                <tr>
                                                    <td> V </td>
                                                    <td> V </td>
                                                    <td> V </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ul>
                                        <li>
                                            Bicondicional lógica: este operador representado comúnmente con el símbolo
                                            ↔, es la conjunción (p → q) ∧ (q → p). Este operador es también conocido
                                            como equivalencia lógica debido a que solo presenta un valor verdadero si
                                            ambas proposiciones son iguales.
                                        </li>
                                    </ul>
                                    <div class="col-md-6">
                                        <table id="bootstrap-data-table"
                                            class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>P</th>
                                                    <th>q</th>
                                                    <th>(p↔q)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> F </td>
                                                    <td> F </td>
                                                    <td> V </td>
                                                </tr>
                                                <tr>
                                                    <td> F </td>
                                                    <td> V </td>
                                                    <td> F </td>
                                                </tr>
                                                <tr>
                                                    <td> V </td>
                                                    <td> F </td>
                                                    <td> F </td>
                                                </tr>
                                                <tr>
                                                    <td> V </td>
                                                    <td> V </td>
                                                    <td> V </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>